!!! 5
%html
  %head
    %title bangkok
    %link{ :rel => "stylesheet", :href => "/css/style.css", :type => "text/css" }
    %link{ :rel => "stylesheet", :href => "/css/facebox.css", :type => "text/css" }
    %script{ :type => "text/javascript", :src => "/js/jquery-1.4.2.min.js" }
    %script{ :type => "text/javascript", :src => "/js/facebox.js" }
    %script{ :type => "text/javascript" }
      jQuery(document).ready(function($) { $('a[rel*=facebox]').facebox() })
  %body.change-list
    %div#container
      %div#header
        %div#branding
          %h1#site-name bangkok db
          %h2 dynamic management for your db
          %div#user-tools
            Welcome.
            %a(href="#") Change password
            %a(href="#") Logout
      %div.breadcrumbs
        %a(href="/db") Database List
        &rsaquo;
      %div#content.flex
        %h1 Select something here
        %div#content-main
          %div#changelist.module
            = yield

        %br(class="clear")/

      %div#footer
