%table#main.zebra
  %thead
    %tr
      %td
        %a{ :href => '#' }
          Table Name
  %tbody
    - @db.tables.each do |table|
      %tr
        %td
          %a(href='/db/#{@db.opts[:database]}/#{table}') #{ table }
